* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-fluid, .container-fluid-calc {
  background-image: url("../images/cosmos.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.container-fluid-calc {
  background-image: url("../images/calc-cosmos.jpg"); }

.top-container {
  height: 100vh; }

.firs-title, .container-fluid-calc {
  line-height: 50px;
  height: 100vh; }
  .firs-title h1, .firs-title h3, .firs-title p, .firs-title a, .container-fluid-calc h1, .container-fluid-calc h3, .container-fluid-calc p, .container-fluid-calc a {
    opacity: 0;
    color: #FFFFFF;
    font-size: 50px;
    text-transform: uppercase;
    animation-name: textAnimate;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear; }
  .firs-title p, .container-fluid-calc p {
    animation: none;
    opacity: 1; }
  .firs-title a, .container-fluid-calc a {
    animation-name: animateA;
    text-align: center;
    width: 200px !important;
    line-height: 30px; }
  .firs-title h3, .container-fluid-calc h3 {
    font-size: 30px;
    animation-name: textAnimate2; }
  .firs-title a, .firs-title button, .container-fluid-calc a, .container-fluid-calc button {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    color: #FFFFFF;
    transition: 0.4s;
    text-transform: uppercase;
    box-shadow: none !important; }
    .firs-title a:hover, .firs-title button:hover, .container-fluid-calc a:hover, .container-fluid-calc button:hover {
      background: #e4606d;
      border-color: #e4606d; }

input {
  height: 100px !important;
  text-align: end; }

.buttonss button, .buttonsResult button {
  margin-top: 15px;
  width: 100%;
  background: #1d2124 !important; }

.buttonss a {
  animation: none;
  opacity: 1; }

.resultArea {
  border: 2px #FFFFFF dashed;
  border-radius: 10px;
  padding: 15px 15px 0 15px !important;
  margin-bottom: 20px;
  background: #1d2124; }

@keyframes textAnimate {
  0% {
    transform: translateY(-150px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes textAnimate2 {
  0% {
    transform: translateY(-200px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes animateA {
  0% {
    transform: translateY(-250px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.star img {
  width: 15px !important;
  filter: invert(1); }

/*# sourceMappingURL=main.css.map */
