* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

$main-color: #FFFFFF;
$title-font-size: 30px;
$simple-font-size: 20px;
$main-color-2: #e4606d;

.container-fluid, .container-fluid-calc {
  background-image: url("../images/cosmos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid-calc {
  background-image: url('../images/calc-cosmos.jpg');
}

.top-container {
  height: 100vh;
}

.firs-title, .container-fluid-calc {
  line-height: 50px;
  height: 100vh;

  h1, h3, p, a {
    opacity: 0;
    color: $main-color;
    font-size: 50px;
    text-transform: uppercase;
    animation-name: textAnimate;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  p {
    animation: none;
    opacity: 1;
  }

  a {
    animation-name: animateA;
    text-align: center;
    width: 200px!important;
    line-height: 30px;
  }

  h3 {
    font-size: $title-font-size;
    animation-name: textAnimate2;
  }

  a, button {
    text-decoration: none;
    font-size: $simple-font-size;
    padding: 10px;
    border: 2px solid $main-color;
    border-radius: 10px;
    background: transparent;
    color: $main-color;
    transition: 0.4s;
    text-transform: uppercase;
    box-shadow: none !important;

    &:hover {
      background: $main-color-2;
      border-color: $main-color-2;
    }
  }
}

input {
  height: 100px !important;
  text-align: end;
}

.buttonss, .buttonsResult {
  button {
    margin-top: 15px;
    width: 100%;
    background: #1d2124 !important;
  }
}
.buttonss a{
  animation: none;
  opacity: 1;
}

.resultArea {
  border: 2px $main-color dashed;
  border-radius: 10px;
  padding: 15px 15px 0 15px !important;
  margin-bottom: 20px;
  background: #1d2124;
}

@keyframes textAnimate {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textAnimate2 {
  0% {
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateA {
  0% {
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.star img{
  width: 15px!important;
  filter: invert(1);

}


